@use'../base/common';
@use'../variable/variable';

#footer_part{
    padding-top: 62px;
    background: variable.$brand_color;
    .footer_col_one{
        .footer_logo{
            img{
                width: 250px !important;
            }
        }
        .footer_text{
            font-size: 18px;
            font-weight: 400;
            font-family: variable.$roboto;
            color: #fff;
            width: 283px;
        }
        .footer_contact{
            .email{
                a{
                    font-size: 20px;
                    font-weight: 500;
                    color: #fff;
                    font-family: variable.$roboto;
                    margin-top: 40px;
                    margin-bottom: 20px;
                    span{
                        margin-right: 10px;
                        font-size: 24px;
                        color: red;
                    }
                }
            }
            .phn_number{
                .nmbr_one{
                    font-size: 20px;
                    font-weight: 500;
                    color: #fff;
                    font-family: variable.$roboto;
                    display: block;
                    span{
                        margin-right: 10px;
                        font-size: 24px;
                        color: #000;
                    }
                }
                .nmbr_two{
                    font-size: 20px;
                    font-weight: 500;
                    color: #fff;
                    font-family: variable.$roboto;
                    margin-bottom: 35px;
                    span{
                        margin-right: 10px;
                        font-size: 24px;
                        color: #000;
                    }
                }
            }
        }
        .media_icon{
            display: flex;
            align-items: center;
            
            gap: 15px;
            margin-top: 3px;
            .fb_icon{
                width: 35px;
            }
            .insta_icon{
                width: 35px;
            }
            .twitter_icon{
                width: 35px;
            }
            .linked_icon{
                width: 35px;
            }
        }
    }
    .footer_col_two{
        .col_two_head{
            margin-bottom: 25px;
            h3{
                font-size: 30px;
                font-family: variable.$roboto;
                font-weight: 600;
                color: #fff;
                margin-top: 38px;
                position: relative;
                &::after{
                    content: '';
                    width: 170px;
                    height: 2px;
                    background: #fff;
                    bottom: 0;
                    left: 0;
                    position: absolute;
                }
            }
        }
        .col_two_image{
            display: flex;
            flex-wrap: wrap;
            gap: 7px;
            .footer_img{
                width: 133px;
            }
        }
        .col_two_button{
            a{
                font-size: 20px;
                font-weight: 600;
                font-family: variable.$roboto;
                color: #000;
                width: 150px;
                height: 40px;
                margin-left: 60px;
                background: variable.$secondary_color;
                margin-top: 28px;
                border: 1px solid variable.$brand_color;
                display: flex;
                justify-content: center;
                align-items: center;
                border-top-left-radius: 15px;
                border-bottom-right-radius: 15px;
                transition: all linear .3s;
                &:hover{
                    background:transparent;
                    color: #fff;
                    border: 1px solid #fff;
                }
            }
        }
    }
    .footer_col_three{
        .col_three_head{
            margin-bottom: 25px;
            h3{
                font-size: 30px;
                font-family: variable.$roboto;
                font-weight: 600;
                color: #fff;
                margin-top: 38px;
                position: relative;
                span{
                    font-size: 24px;
                    color: red;
                }
                &::after{
                    content: '';
                    width: 170px;
                    height: 2px;
                    background: #fff;
                    bottom: 0;
                    left: 0;
                    position: absolute;
                }
            }
        }
        .col_three_img{
            
            .col_three_img{
                width: 350px;
            }
        }
    }
    .footer_copyright_text{
        margin-top: 34px;
        height: 88px;
        background: variable.$secondary_color;
        h3{
            font-size: 20px;
            font-weight: 600;
            font-family: variable.$roboto;
            color: #000;
            text-align: center;
            line-height: 88px;
        }
    }
}